@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Website";
}



    <h1>Natalie Kearl</h1>
    <img id="friends" src="~/img/IMG-1306.JPEG"
         width="800"
         height="600" />
    <p>
        I hope to learn new skills in the IS 413 class that will be beneficial to have
        for future internships and jobs. Besides being able to complete the learning objectives of this
        course such as being able to build web apps and to create Razor pages using the fundamentals of C#,
        I also hope that this class will increase my confidence in my abilities to solve tech related
        problems in the workplace.
    </p>
    <br />
    <p>Top 3 Jobs</p>
    <ul>
        <li>#1 - Data Analyst</li>
        <li>#2 - Product Manager</li>
        <li>#3 - Information Security Analyst</li>
    </ul>

    <script src="~/js/JavaScript.js"></script>
   
